{% extends 'base.html.twig' %}
{% block body %}
</header>
<div class="container">
 <div class="row">
     <div class="col-md-4">
         <h3 class="my-3">{{categorie.nom}}</h3>
     </div>
     <div class="col-md-8">
         <h3 class="my-3"><img class="card-img-top" src="{{ asset('uploads/'~categorie.photo)  }}" alt=""></h3>
     </div>
 </div>
</br></br>
</div>
{% endblock %}
